:root {
  --light-blue: #2d0097;
  --blue: #210070;
  --dark-blue: #180052;
  --red: #be1e2d;
  --dark-red: #bb7a02;
  --white: #ffffff;
  --grey: #a0a0a0;
  --milk: #f2ece8;
  --black: #000000;
  --input-background: #f8f4ff;
  --modal-background: rgba(0, 0, 0, 0.2);
  --large-heading1: 60px;
  --big-heading1: 50px;
  --medium-heading1: 45px;
  --small-heading1: 30px;
  --mini-heading1: 25px;
  --big-paragraph: 20px;
  --medium-paragraph: 18px;
  --normal-paragraph: 16px;
  --small-paragraph: 14px;
  --mini-paragraph: 12px;
  --dashboard-background: #f9fbfb;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  position: relative;
}
